{
	"extends": "airbnb",
	"parser": "babel-eslint",
	"plugins": [
		"react",
		"jsx-a11y"
	],
	"env": {
		"browser": true,
		"node": true,
		"jest": true,
		"es6": true
	},
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"rules": {
		"linebreak-style": 0,
		"no-console": 0,
		"react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
		"no-param-reassign": [2, { "props": false }]
	}
}